<div id="alertDivId" class="alert">
    <div class="imgcontainer">
        <span onclick="document.getElementById('alertDivId').style.display='none'" class="close" title="Close Modal">&times;</span>
        <label id="alertLabelId"></label>
    </div>
    <br>
</div>