@model ChangePasswordViewModel;
@inject IStringLocalizer<SharedResource> Localizer

@{
    //TODO: Specify proper layout
    Layout = "_Layout";
}

<form asp-action="EditPassword">
    <label asp-for="OldPassword">@Localizer["OldPassword"]</label>
    <input asp-for="OldPassword"/>
    <label asp-for="NewPassword">@Localizer["NewPassword"]</label>
    <input asp-for="NewPassword"/>
    <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
    <input asp-for="ConfirmPassword" />
    <input type="submit" value="@Localizer["Save"]"/>
</form>