.navbar {
    padding: 10px;
}
.navbar-nav li {
    padding-left: 20px;
}
.nav-link {
    font-size: 20px;
}
.logo-font-one {
    font-size: 30px;
    
} 
.logo-font-two {
    font-size: 14px;
    text-decoration: underline;
}
hr {
    border-top: 1px solid white;
    width: 100%;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    
    /*background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('/img/libary.jpg');*/
    
  

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    background-color: #3f3f3f;
    color: white;
    padding-top: 2rem;
}
.padding {
    padding-bottom: 1rem;
    padding-top:1rem;
}

.filter {
    border: solid rgba(87, 84, 84, 0.691) 1px;
    width: max-content;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
    margin: 20px;
    margin-top: 0;
    /* min-height: 360px;
    max-height: 380px; */
}

    .filter p {
        margin: 15px;
    }

    .filter b {
        color: #336666;
    }

.page-header
{
    margin:10px;
}

.categories
{
    text-align: left;
}

.ui-autocomplete {
    z-index: 2000;
}
