<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="line" value="-------------------------------------------------------"/>
  <targets>
    <target type="File" name="fileTarget" fileName="orhedge_${date:format=yyyy-MM-dd}.log"
              layout="${newline}MESSAGE: ${date}${newline}${level:uppercase=true}|${message} ${newline}ExceptionDetails: ${exception}|${all-event-properties}${newline}${line}" />
    <target name="console" type="Console" layout="${date:format=dd-MM-yyyy HH\:mm\:ss} - ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>