
@{
    ViewData["Title"] = "About";
}
@section Stylesheet
{
    <link rel="stylesheet" href="~/css/about.css">
}
<div class="about-section">
    <h1>About Us</h1>
    <p>We make your life easier.</p>
    <p>OrheDGE developers invested their time and effort to give every student access to study materials.</p>
    <p>We provide you 24/7 support.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/team/MarijaNovakovic.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Marija Novakovic</h2>
                <p class="title">Team Leader & Backend Developer</p>
                <p>
                    It was a pleasure to lead my team and to work on the project using every technology we wanted.
                    Together we overcame the challenges and show what little work and effort can do.
                </p>
                <p>marija.novakovic@etfbl.student.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/team/GoranMajstorovic.png" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Goran Majstorovic</h2>
                <p class="title">UI/UX Designer</p>
                <p>
                    If you want a person to represent a project, call me. I invested my time to learn new things and show the world how creative I am.
                </p>
                <p>goran.majstorovic@etfbl.student.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/images/team/BojanMalinic.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Bojan Malinic</h2>
                <p class="title">Full Stack Developer and DevOps</p>
                <p>
                    I had an opportunity to test my knowledge and also to try being DevOps.
                    Making hard decisions is so much easier when you have your team's support.
                </p>
                <p>bojan.malinic@unibl.student.org</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
<div class="row display-flex justify-content-center">
    <div class="column">
        <div class="card">
            <img src="~/images/team/MilicaVasic.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Milica Vasic</h2>
                <p class="title">Frontend developer and UI/UX Designer</p>
                <p>
                    I have the desire to become a Full Stack developer, so I decided to improve my skills for designing an application. With this project,
                    I learned how integrated application is built, and showed how quickly I adapt to new technologies.
                </p>
                <p>milica.vasic@unibl.student.org</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/images/team/AleksandarZrnic.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Aleksandar Zrnic</h2>
                <p class="title">UI/UX Designer and Frontend Developer</p>
                <p>
                    Working on this project helped me in improving my organizational skills, and make some decisions about my career.
                    I saw how an application workflow looks like and I learned from mistakes we, as a team, made.
                </p>
                <p>aleksandar.zrnic@etfbl.student.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>